<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Map Click</title>
    <script type="text/javascript" src="https://dapi.kakao.com/v2/maps/sdk.js?appkey=19d140a390713c32d412d921aaeb3089"></script>
    <!-- CSRF Token Meta Tags -->
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
</head>
<body>
<div id="map" style="width:100%;height:350px;"></div>
<!-- 결과를 표시할 div 추가 -->
<div id="result">클릭한 위치를 기다리는 중...</div>
<script>
    var mapContainer = document.getElementById('map'),
        mapOption = {
            center: new kakao.maps.LatLng(37.5665, 126.9780),
            level: 3
        };

    var map = new kakao.maps.Map(mapContainer, mapOption);

    // CSRF 토큰과 헤더 정보를 JavaScript 변수로 저장
    var csrfToken = document.querySelector('meta[name="_csrf"]').getAttribute('content');
    var csrfHeader = document.querySelector('meta[name="_csrf_header"]').getAttribute('content');

    kakao.maps.event.addListener(map, 'click', function(mouseEvent) {
        document.getElementById('result').innerHTML = '로딩 중...';

        var latlng = mouseEvent.latLng;
        fetch('/getCoordinates', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/x-www-form-urlencoded',
                [csrfHeader]: csrfToken, // 요청 헤더에 CSRF 토큰 추가
            },
            body: `lat=${latlng.getLat()}&lng=${latlng.getLng()}`
        })
        .then(response => {
            if (!response.ok) {
                throw new Error('Network response was not ok.');
            }
            return response.text();
        })
        .then(html => {
            // 결과를 표시할 div의 내용을 업데이트
            document.getElementById('result').innerHTML = html;
        })
        .catch(error => {
            console.error('There has been a problem with your fetch operation:', error);
            document.getElementById('result').innerHTML = '데이터 로딩 중 에러가 발생했습니다.';
        });
    });
</script>
</body>
</html>
